img {
  border-radius: 0.5rem 0 0 0.5rem;
}

.view-hunt-title {
  font-size: 1.875rem;
  font-weight: bold;
  color: #14532d;
  margin-bottom: 0.5rem;
  text-align: center;
}

.view-hunt-desc {
  color: #14532d;
  text-align: center;
  margin-bottom: 2rem;
}