<div class="flex h-screen font-sans bg-[#002820] animate-fade-in">
  <div class="flex-1 flex items-center justify-center px-10 text-black animate-slide-up">
    <form [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
          class="bg-white p-8 rounded-xl shadow w-full max-w-md space-y-4 animate-fade-in delay-200">
      
      <div class="flex gap-3">
        <input formControlName="prenom" placeholder="Prénom"
               class="flex-1 border border-gray-300 rounded px-3 py-2 text-sm focus:outline-green-700 transition" />
        <input formControlName="nom" placeholder="Nom"
               class="flex-1 border border-gray-300 rounded px-3 py-2 text-sm focus:outline-green-700 transition" />
      </div>

      <input formControlName="email" type="email" placeholder="Adresse e-mail"
             class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-green-700 transition" />

      <input formControlName="password" type="password" placeholder="Mot de passe"
             class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-green-700 transition" />

      <input formControlName="confirmPassword" type="password" placeholder="Confirmer le mot de passe"
             class="w-full border border-gray-300 rounded px-3 py-2 text-sm focus:outline-green-700 transition" />

      <label class="flex items-center gap-2 text-sm">
        <input type="checkbox" formControlName="auth2fa" />
        Authentification à 2 facteurs
      </label>

      <button type="submit"
              class="w-full bg-green-700 text-white py-3 rounded font-bold hover:bg-green-800 transition hover:scale-105">
        Je m’inscris
      </button>

      <div class="relative text-center text-sm text-gray-400 mt-6 mb-4">
        <div class="absolute top-1/2 left-0 w-[40%] h-px bg-gray-300 -translate-y-1/2"></div>
        <span class="bg-white px-3 z-10 relative">Ou</span>
        <div class="absolute top-1/2 right-0 w-[40%] h-px bg-gray-300 -translate-y-1/2"></div>
      </div>

      <button type="button"
              class="w-full border border-gray-300 rounded py-2 flex justify-center items-center gap-2 text-sm font-bold hover:bg-gray-100 transition"
              (click)="loginWithGoogle()">       
        Je m’inscris avec Google
      </button>
    </form>
  </div>

  <div class="w-[28%] bg-[#e9f1e8] text-green-800 text-center flex flex-col items-center px-6 shadow-inner mr-[200px] animate-slide-up">
    <img src="assets/logo-lootopia.png" alt="Lootopia" class="w-64 mb-8 mt-40 transition duration-500 hover:scale-105" />
    <h1 class="text-7xl font-bold mt-6">Lootopia</h1>
    <h2 class="text-3xl font-bold mt-4">CONNEXION</h2>
    <p class="mt-4 text-sm">
      <a routerLink="/login" class="underline text-green-700 hover:text-green-900 transition">
        J’ai déjà un compte, je me connecte
      </a>
    </p>
  </div>
</div>
 